* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif; }

.nav {
  background-color: #000;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-items: center; }
  .nav a img {
    padding-left: 10px; }
  .nav nav ul {
    padding-right: 10px; }
    .nav nav ul li {
      display: inline; }
      .nav nav ul li a {
        text-decoration: none;
        color: aliceblue;
        padding: 5px;
        border-radius: 3px; }
        .nav nav ul li a:hover {
          background-color: white;
          color: #000; }

.footer {
  background-color: #000;
  height: 30px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center; }
  .footer ol li {
    display: inline; }
    .footer ol li a {
      padding: 3px; }
      .footer ol li a i {
        color: white; }

.nosotros-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-image: url(../img/nosotros70.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  text-align: center; }
  .nosotros-main h1 {
    padding: 15px; }
  .nosotros-main p {
    width: 60vw;
    padding-top: 20px;
    font-size: 22px;
    font-weight: 500; }
