.footer{
    grid-area: footer;
    background-color: #031926;
    height: 30px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    ol{
        li{
            display: inline;
            a{
                padding: 3px;
                i{
                    color: white;
                }
            }
        }
    }
}