.nav{
    background-color: #000;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-items: center;
    a{
        img{
            padding-left: 10px;
        }
    }
    nav{
        ul{
            padding-right: 10px;
            li{
                display: inline;
                a{
                    text-decoration: none;
                    color: aliceblue;
                    padding: 5px;
                    border-radius: 3px;
                    &:hover{
                        background-color: white;
                        color: #000;
                    }
                }
            }
        }
    }
}