.nav{
    background-color: #000;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-items: center;
    a{
        img{
            padding-left: 10px;
        }
    }
    nav{
        ul{
            padding-right: 10px;
            li{
                display: inline;
            }
        }
    }
}

@mixin colors($fondo, $color){
    background-color: $fondo;
    color: $color;
}

.nav-button{
    text-decoration: none;
    @include colors(#000, #f0f8ff);
    padding: 5px;
    border-radius: 3px;
    &:hover{
        @include colors(#f0f8ff, #000)
    }
}

.current-button{
    @extend .nav-button;
    @include colors(#f0f8ff, #000)
}


