.nosotros-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "titulo"
    "parrafo"
    "footer";
    align-items: center;
    justify-items: center;
    padding: 30px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85),transparent), url('../img/image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    color: white;
    text-align: center;
    h1{
        grid-area: titulo;
        padding: 15px;
    }
    .descripcion{
        grid-area: parrafo;
        display: flex;
        flex-direction: column;
        min-height: 70vh;
        width: 60vw;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 200;
        p{
            padding-bottom: 5px;
        }
    }
}
