.servicios-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "titulo"
    "servicios"
    "footer";
    align-items: center;
    justify-items: center;
    min-height: 90vh;
    text-align: center;
    background-image: url("../img/Coffee-Beans-PNG-Image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.servicios-main{
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    h1{
        padding-top: 50px;
    }
    p{
        max-width: 400px;
        padding-top: 10px;
    }
    .servicios{
        padding-top: 80px;
        display: flex;
        align-content: center;
        justify-content: center;

        .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: rgba($color: white, $alpha: 0.7);
            border-width: 1px;
            border-radius: 5px;
            max-width: 300px;
            padding-left: 50px;
            padding-right: 50px;
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            p{
                padding-top: 20px;
                opacity: 1;
            }
            button{
                border-style: none;
                background-color: white;
                margin-top: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                align-self: center;
                background: none;
                border: 0;
                border-radius: 5px;
                padding: 5px;
                width: fit-content;
                &:hover{
                    background-color: rgba($color: #031926, $alpha: 0.9);
                    color: white;
                }
                border: 0;
                font-size: larger;
                font-weight: bold;   
            }
        }
    }
}
@media(max-width: 768px){
    .servicios{
        display: flex;
        flex-direction: column;
        .cards{
            margin-bottom: 15px;
        }
    }
}