*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@import "header";
@import "footer";

//Pages
@import "index";
@import "nosotros-page";
@import "servicios-page";
@import "productos-page";
@import "contacto-page";