<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">   
    <meta name="description" content="The coffe Company te ofrece los mejores cafes, directo a tu casa, al mejor precio">
    <meta name="keywords" content="cafe, tienda, servicio, entrega, rico, mejor, barato, caro, productos, arabica, excelsa, liberica, robusta"> 
    <script src="https://kit.fontawesome.com/28aaae96af.js" crossorigin="anonymous"></script>
    <title>The Coffee Company</title>
</head>

<body>
    <div class="grilla-productos">
        <!-- ENCABEZADO -->
        <header class="nav">
            <a href="../index.html">
                <img src="../img/logo_minimal_1.png" alt="logo">
            </a>
            <nav>
                <!-- (ul) Lista no ordenada -->
                <ul>
                    <!-- (li) List Item -->
                    <li><a class="nav-button" href="../index.html">INICIO</a></li>
                    <li><a class="current-button" href="./productos.html">PRODUCTOS</a></li>
                    <li><a class="nav-button" href="./servicios.html">SERVICIOS</a></li>
                    <li><a class="nav-button" href="./nosotros.html">NOSOTROS</a></li>
                    <li><a class="nav-button" href="./contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>

        <!-- CONTENIDO PRINCIPAL -->
        <section class="titulo">
            <h1>Nuestros cafes</h1>
        </section>

        <section class="producto1">
            <h3>Arabica</h3>
            <img src="../img/cafe_1.png" alt="Granos de cafe Arabica">
            <p>Es considerado el mejor cafe en grano, tiene un cuerpo suave, de sabor equilibrado,
                 aromatico y de baja acidez. Deja un sabor suave y agradable en la boca, ideal para disfrutar todo el dia
                gracias a su menor contenido de cafeina.
                </p>
        </section>

        <section class="producto2">
            <h3>Excelsa</h3>
            <img src="../img/cafe_2.png" alt="Granos de cafe Excelsa">
            <p>Descubierto en el Lago Chad en el siglo XX este es un cafe de granos chicos pero lleno de sabor,
                actualmente es nuestro cafe con mayor contenido de cafeina ideal para arrancar la mañana.
            </p>
        </section>

        <section class="producto3">
            <h3>Liberica</h3>
            <img src="../img/cafe_3.png" alt="Granos de cafe Liberica">
            <p>De sabor audaz y aroma ahumado, el grano Liberica es un cafe que tenes que probar.</p>
        </section>

        <section class="producto4">
            <h3>Robusta</h3>
            <img src="../img/cafe_4.png" alt="Granos de cafe Robusta">
            <p>La variedad de cafe mas vendida a nivel mundial, produce un cafe mas denso y barroso con un aroma unico.
                
            </p>
        </section>

        <!-- PIE DE PAGINA -->
        <footer class="footer">
            <!-- (ol) Lista Ordenada-->
            <ol>
                <li><a href="https://www.facebook.com/..."><i class="fa-brands fa-facebook-square fa-lg"></i></a></li>
                <li><a href="https://www.instagram.com/..."><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                <li><a href="https://www.twitter.com/..."><i class="fa-brands fa-twitter-square fa-lg"></i></a></li>
            </ol>
        </footer>
    </div>
</body>

</html>