<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <meta name="description" content="The coffe Company te ofrece los mejores cafes, directo a tu casa, al mejor precio">
    <meta name="keywords" content="cafe, tienda, servicio, entrega, rico, mejor, barato, caro, servicios">
    <script src="https://kit.fontawesome.com/28aaae96af.js" crossorigin="anonymous"></script>
    <title>The Coffee Company</title>
</head>

<body>
    <!-- ENCABEZADO -->
    <header class="nav">
        <a href="../index.html">
            <img src="../img/logo_minimal_1.png" alt="logo">
        </a>
        <nav>
            <!-- (ul) Lista no ordenada -->
            <ul>
                <!-- (li) List Item -->
                <li><a class="nav-button" href="../index.html">INICIO</a></li>
                <li><a class="nav-button" href="./productos.html">PRODUCTOS</a></li>
                <li><a class="current-button" href="./servicios.html">SERVICIOS</a></li>
                <li><a class="nav-button" href="./nosotros.html">NOSOTROS</a></li>
                <li><a class="nav-button" href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="servicios-main">
        <h1>Servicio de delivery</h1>
        <p>Elegi la opcion que mas te convenga y todas las semanas te vamos a estar mandando nuestra seleccion de cafe</p>
        <div class="servicios">
            <section class="cards">
                <h3>1 bolsa por semana</h3>
                <p>Te gusta el cafe y queres darte un gusto todos los dias? Esta es la opcion que queres!</p>
                <button>
                    Seleccionar
                </button>
            </section>
            <section class="cards">
                <h3>2 bolsas por semana</h3>
                <p>Todos tus cafes van a ser el mejor cafe, ya no necesitas otro.</p>
                <button>
                    Seleccionar
                </button>
            </section>
            <section class="cards">
                <h3>4 bolsas por semana</h3>
                <p>Ok..Ok.. Necesitas cafe, te entendemos.. Por eso tenemos esta opcion para vos.</p>
                <button>
                    Seleccionar
                </button>
            </section>
        </div>
    </main>

    <!-- PIE DE PAGINA -->
    <footer class="footer">
        <!-- (ol) Lista Ordenada-->
        <ol>
            <li><a href="https://www.facebook.com/..."><i class="fa-brands fa-facebook-square fa-lg"></i></a></li>
            <li><a href="https://www.instagram.com/..."><i class="fa-brands fa-instagram fa-lg"></i></a></li>
            <li><a href="https://www.twitter.com/..."><i class="fa-brands fa-twitter-square fa-lg"></i></a></li>
        </ol>
    </footer>
</body>

</html>